.Button {
  font-size: 14px;
  border: none;
}

.s {
  padding: 6px 12px;
}

.m {
  padding: 8px 16px;
}

.l {
  padding: 10px 20px;
}

.primary {
  color: #1c1c1c;
  background: #0095b6;
}

.secondary {
  background-color: #6c757d;
  color: #fff;
}

.transparent {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
}

.active {
  color: #1c1c1c;
  background: #fd5e53;
  border: none;
}
